In [1]:
import pandas as pd
import numpy as np

data = pd.read_csv("./data/agaricus-lepiota.data")
data

      p  x  s  n  t p.1  f  c n.1  k  ... s.2  w w.1 p.2 w.2  o p.3 k.1 s.3  u
0     e  x  s  y  t   a  f  c   b  k  ...   s  w   w   p   w  o   p   n   n  g
1     e  b  s  w  t   l  f  c   b  n  ...   s  w   w   p   w  o   p   n   n  m
2     p  x  y  w  t   p  f  c   n  n  ...   s  w   w   p   w  o   p   k   s  u
3     e  x  s  g  f   n  f  w   b  k  ...   s  w   w   p   w  o   e   n   a  g
4     e  x  y  y  t   a  f  c   b  n  ...   s  w   w   p   w  o   p   k   n  g
...  .. .. .. .. ..  .. .. ..  .. ..  ...  .. ..  ..  ..  .. ..  ..  ..  .. ..
8118  e  k  s  n  f   n  a  c   b  y  ...   s  o   o   p   o  o   p   b   c  l
8119  e  x  s  n  f   n  a  c   b  y  ...   s  o   o   p   n  o   p   b   v  l
8120  e  f  s  n  f   n  a  c   b  n  ...   s  o   o   p   o  o   p   b   c  l
8121  p  k  y  n  f   y  f  c   n  b  ...   k  w   w   p   w  o   e   w   v  l
8122  e  x  s  n  f   n  a  c   b  y  ...   s  o   o   p   o  o   p   o   c  l

[8123 rows x 23 columns]

In [2]:
for col in data.columns:
    print(f"{col}: {np.unique(data[col])}")

p: ['e' 'p']
x: ['b' 'c' 'f' 'k' 's' 'x']
s: ['f' 'g' 's' 'y']
n: ['b' 'c' 'e' 'g' 'n' 'p' 'r' 'u' 'w' 'y']
t: ['f' 't']
p.1: ['a' 'c' 'f' 'l' 'm' 'n' 'p' 's' 'y']
f: ['a' 'f']
c: ['c' 'w']
n.1: ['b' 'n']
k: ['b' 'e' 'g' 'h' 'k' 'n' 'o' 'p' 'r' 'u' 'w' 'y']
e: ['e' 't']
e.1: ['?' 'b' 'c' 'e' 'r']
s.1: ['f' 'k' 's' 'y']
s.2: ['f' 'k' 's' 'y']
w: ['b' 'c' 'e' 'g' 'n' 'o' 'p' 'w' 'y']
w.1: ['b' 'c' 'e' 'g' 'n' 'o' 'p' 'w' 'y']
p.2: ['p']
w.2: ['n' 'o' 'w' 'y']
o: ['n' 'o' 't']
p.3: ['e' 'f' 'l' 'n' 'p']
k.1: ['b' 'h' 'k' 'n' 'o' 'r' 'u' 'w' 'y']
s.3: ['a' 'c' 'n' 's' 'v' 'y']
u: ['d' 'g' 'l' 'm' 'p' 'u' 'w']

In [3]:
ms_col = []
for col in data.columns:
    value_col = np.unique(data[[col]])
    for value in value_col:
        if value == "?":
            ms_col.append(col)
            
ms_col

['e.1']

In [4]:
encode_data = data

decode_ms = {}

for col in ms_col:
    values, counts = np.unique(encode_data[col], return_counts=True)
    decode_ms[col] = {}
    for value, count in zip(values, counts):
        decode_ms[col][value] = count

In [5]:
# Convert data to numeric value
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()

for col in encode_data.columns:
    encode_data[col] = label_encoder.fit_transform(encode_data[col])

for col in encode_data.columns:
    print(f"{col}: {np.unique(encode_data[col])}, type: {encode_data[col].dtype}")

p: [0 1], type: int32
x: [0 1 2 3 4 5], type: int32
s: [0 1 2 3], type: int32
n: [0 1 2 3 4 5 6 7 8 9], type: int32
t: [0 1], type: int32
p.1: [0 1 2 3 4 5 6 7 8], type: int32
f: [0 1], type: int32
c: [0 1], type: int32
n.1: [0 1], type: int32
k: [ 0  1  2  3  4  5  6  7  8  9 10 11], type: int32
e: [0 1], type: int32
e.1: [0 1 2 3 4], type: int32
s.1: [0 1 2 3], type: int32
s.2: [0 1 2 3], type: int32
w: [0 1 2 3 4 5 6 7 8], type: int32
w.1: [0 1 2 3 4 5 6 7 8], type: int32
p.2: [0], type: int32
w.2: [0 1 2 3], type: int32
o: [0 1 2], type: int32
p.3: [0 1 2 3 4], type: int32
k.1: [0 1 2 3 4 5 6 7 8], type: int32
s.3: [0 1 2 3 4 5], type: int32
u: [0 1 2 3 4 5 6], type: int32

In [6]:
encode_ms = {}

for col in ms_col:
    values, counts = np.unique(encode_data[col], return_counts=True)
    encode_ms[col] = {}
    for value, count in zip(values, counts):
        encode_ms[col][value] = count

In [7]:
print(encode_ms)
print(decode_ms)

{'e.1': {0: 2480, 1: 3776, 2: 556, 3: 1119, 4: 192}}
{'e.1': {'?': 2480, 'b': 3776, 'c': 556, 'e': 1119, 'r': 192}}

In [8]:
# Match encode_ms and decode_ms we will see LableEncoder convert missing values to different values
for col in ms_col:
    values = np.unique(encode_data[col])

    avg = int(sum(values)/(len(values))) 
    print(f"{col}: avg = {avg}")
    encode_data[col].replace(0, avg, inplace=True)

ms_col

e.1: avg = 2

C:\Users\thanh\AppData\Local\Temp\ipykernel_13728\3380104461.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  encode_data[col].replace(0, avg, inplace=True)

['e.1']

In [9]:
for col in encode_data.columns:
    print(f"{col}: {np.unique(encode_data[col])}, type: {encode_data[col].dtype}")

p: [0 1], type: int32
x: [0 1 2 3 4 5], type: int32
s: [0 1 2 3], type: int32
n: [0 1 2 3 4 5 6 7 8 9], type: int32
t: [0 1], type: int32
p.1: [0 1 2 3 4 5 6 7 8], type: int32
f: [0 1], type: int32
c: [0 1], type: int32
n.1: [0 1], type: int32
k: [ 0  1  2  3  4  5  6  7  8  9 10 11], type: int32
e: [0 1], type: int32
e.1: [1 2 3 4], type: int32
s.1: [0 1 2 3], type: int32
s.2: [0 1 2 3], type: int32
w: [0 1 2 3 4 5 6 7 8], type: int32
w.1: [0 1 2 3 4 5 6 7 8], type: int32
p.2: [0], type: int32
w.2: [0 1 2 3], type: int32
o: [0 1 2], type: int32
p.3: [0 1 2 3 4], type: int32
k.1: [0 1 2 3 4 5 6 7 8], type: int32
s.3: [0 1 2 3 4 5], type: int32
u: [0 1 2 3 4 5 6], type: int32

In [10]:
values, counts = np.unique(encode_data['p'], return_counts=True)
values, counts

(array([0, 1]), array([4208, 3915], dtype=int64))

In [11]:
# if we use RandomUnderSample, the dataset size will decrease but if we use SMOTE then the dataset size will increase. So that we use both of them together. 
# RandomUnderSample will remove samples from the majority class
# SMOTe will add samples to the minority class

In [12]:
from imblearn.under_sampling import RandomUnderSampler
from imblearn.over_sampling import SMOTE
import pandas as pd

# Original column names
resample_col = encode_data.columns

# Apply RandomUnderSampler with a higher sampling ratio
rus = RandomUnderSampler(sampling_strategy='auto')  
X_resampled, y_resampled = rus.fit_resample(encode_data.drop('p', axis=1), encode_data['p'])

# Apply SMOTE with a slightly lower ratio
smote = SMOTE(sampling_strategy='auto')  
X_final, y_final = smote.fit_resample(X_resampled, y_resampled)

# Re-create DataFrame with the final balanced dataset
encode_data = pd.DataFrame(
    data=pd.concat([y_final, X_final], axis=1),
    columns=resample_col
)
data

,p,x,s,n,t,p.1,f,c,n.1,k,...,s.2,w,w.1,p.2,w.2,o,p.3,k.1,s.3,u
0,0,5,2,9,1,0,1,0,0,4,...,2,7,7,0,2,1,4,3,2,1
1,0,0,2,8,1,3,1,0,0,5,...,2,7,7,0,2,1,4,3,2,3
2,1,5,3,8,1,6,1,0,1,5,...,2,7,7,0,2,1,4,2,3,5
3,0,5,2,3,0,5,1,1,0,4,...,2,7,7,0,2,1,0,3,0,1
4,0,5,3,9,1,0,1,0,0,5,...,2,7,7,0,2,1,4,2,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8118,0,3,2,4,0,5,0,0,0,11,...,2,5,5,0,1,1,4,0,1,2
8119,0,5,2,4,0,5,0,0,0,11,...,2,5,5,0,0,1,4,0,4,2
8120,0,2,2,4,0,5,0,0,0,5,...,2,5,5,0,1,1,4,0,1,2
8121,1,3,3,4,0,8,1,0,1,0,...,1,7,7,0,2,1,0,7,4,2
8122,0,5,2,4,0,5,0,0,0,11,...,2,5,5,0,1,1,4,4,1,2

In [13]:
values, counts = np.unique(data['p'], return_counts=True)
values, counts

(array([0, 1]), array([4208, 3915], dtype=int64))

In [14]:
from sklearn.model_selection import train_test_split

X = encode_data.iloc[:,1:]
y = encode_data.iloc[:,:1]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=1/3.0, random_state=42)
print("Length of X train: ", len(X_train))
print("Length of X test: ", len(X_test))
print("Length of y train: ", len(y_train))
print("Length of y test: ", len(y_test))

Length of X train:  5220
Length of X test:  2610
Length of y train:  5220
Length of y test:  2610